@import url("../../../theme/theme.css");

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
}

.button {
    background-color: var(--primary-700);
    color: var(--white);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


button.res-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    a:not(:first-child),
    button:not(:first-child),
    .search {
        display: none;
    }

    button.res-icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .responsive {
        position: relative;
        flex-direction: column;
    }

    .responsive .res-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive a:not(:first-child), 
    .responsive button:not(:first-child),
    .responsive .search {
        display: block;
        text-align: left;
    }

    .responsive button,
    .responsive .search {
        float: none;
    }
}


.logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 9;
    position: relative;
}

.pages a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--fontColor);
}

.pages .link {
    position: absolute;
    right: 0;
}

.navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--fontColor);
}