.editor-content {
  display: flex;
  border-radius: 10px;
  min-height: 100px;
  padding: 5px;
}
  
.file-explorer {
  min-width: 10%;
  margin-bottom: 500px;
  height: "80%";
}

.border-visible{
  border: 1px solid #ccc;
}

.flex-item {
  background-color: transparent;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
  
.flex-container-row {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  flex-direction: column;
}
  
.flex-item {
  background-color: transparent;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-item-1 {
  flex-grow: 1;
}

.flex-item-2 {
  flex-grow: 2;
}

.flex-item-8 {
  flex-grow: 8;
}


.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.colored-div {
  width: 50px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
  margin: 0 auto;
}

.color-fill {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.moving-line {
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
  border-top: 0px solid gray;
  margin: 0;
}

input[type='number'] {
  width: 10px;
}

.moving-container {
  position: absolute;
  width: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.moving-line {
  width: 100%;
  border: none;
  border-top: 1px solid gray;
}


/* Range Sliders */
.slidecontainer {
  width: 15%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: #525252;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 15px;
  background: #000000;
  cursor: pointer;
}