@import url("../../../theme/theme.css");

nav {
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding: 0px 5px 0px 200px;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a {
    display: inline-block;
    color: var(--primary-500);
    content: ' > ';
    font-size: 100%;
    font-weight: bold;
    /* padding: 0 3px; */
    font-style: italic;
}

.crumb a::after {
    display: inline-block;
    color: var(--primary-500);
    content: ' > ';
    font-size: 100%;
    font-weight: bold;
    /* padding: 0 3px; */
    font-style: italic;
}