:root {
  --background-color: #6d6d6d;
  --text-color: #33407c;
  --primary-color: #6175de;
  --secondary-color: #e8eaed;

  /* Grey Shades - Neutral*/
  --neutral-50: #f6f6f6;
  --neutral-100: #e7e7e7;
  --neutral-200: #d1d1d1;
  --neutral-300: #b0b0b0;
  --neutral-400: #888888;
  --neutral-500: #6d6d6d;
  --neutral-600: #5d5d5d;
  --neutral-700: #4f4f4f;
  --neutral-800: #454545;
  --neutral-900: #3d3d3d;
  --neutral-950: #000000;

  /* Primary Shades */
  --primary-50: #eff6fe;
  --primary-100: #e2eefd;
  --primary-200: #cbdefa;
  --primary-300: #abc8f6;
  --primary-400: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-600: #6175de;
  --primary-700: #4254c0;
  --primary-800: #38479b;
  --primary-900: #33407c;
  --primary-950: #1e2448;

  /* Accents Shades */
  --accent-50: #f2fbf9;
  --accent-100: #d2f5ee;
  --accent-200: #a5eadf;
  --accent-300: #70d8ca;
  --accent-400: #3caea3;
  --accent-500: #29a399;
  --accent-600: #1f827c;
  --accent-700: #1c6965;
  --accent-800: #1b5452;
  --accent-900: #1b4644;
  --accent-950: #0a2829;

  /* Warning Shades */
  --warning-50: #fef9ec;
  --warning-100: #fbeeca;
  --warning-200: #f7dc90;
  --warning-300: #f4ca64;
  --warning-400: #f0af2f;
  --warning-500: #e98f17;
  --warning-600: #ce6b11;
  --warning-700: #ab4b12;
  --warning-800: #8b3b15;
  --warning-900: #733114;
  --warning-950: #421806;

  /* Danger Shades */
  --danger-50: #fef2f2;
  --danger-100: #fee2e2;
  --danger-200: #fecaca;
  --danger-300: #fba6a6;
  --danger-400: #f77272;
  --danger-500: #ee4545;
  --danger-600: #dc3030;
  --danger-700: #b81d1d;
  --danger-800: #981c1c;
  --danger-900: #7e1e1e;
  --danger-950: #450a0a;

  /* Success Shades */
  --success-50: #f1fcf6;
  --success-100: #e0f8e9;
  --success-200: #c2f0d5;
  --success-300: #92e3b3;
  --success-400: #5ace8a;
  --success-500: #38c172;
  --success-600: #269354;
  --success-700: #217445;
  --success-800: #1f5c39;
  --success-900: #1b4c31;
  --success-950: #0a2919;
}
    
.dark-mode, .dark-mode a, .dark-mode button {
  --background-color: #6d6d6d;
  --text-color: #33407c;
  --primary-color: #6175de;
  --secondary-color: #e8eaed;

  /* Grey Shades - Neutral */
  --neutral-50: #f6f6f6;
  --neutral-100: #e7e7e7;
  --neutral-200: #d1d1d1;
  --neutral-300: #b0b0b0;
  --neutral-400: #888888;
  --neutral-500: #6d6d6d;
  --neutral-600: #5d5d5d;
  --neutral-700: #4f4f4f;
  --neutral-800: #454545;
  --neutral-900: #3d3d3d;
  --neutral-950: #000000;

  /* Primary Shades */
  --primary-50: #eff6fe;
  --primary-100: #e2eefd;
  --primary-200: #cbdefa;
  --primary-300: #abc8f6;
  --primary-400: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-600: #6175de;
  --primary-700: #4254c0;
  --primary-800: #38479b;
  --primary-900: #33407c;
  --primary-950: #1e2448;

  /* Accents Shades */
  --accent-50: #f2fbf9;
  --accent-100: #d2f5ee;
  --accent-200: #a5eadf;
  --accent-300: #70d8ca;
  --accent-400: #3caea3;
  --accent-500: #29a399;
  --accent-600: #1f827c;
  --accent-700: #1c6965;
  --accent-800: #1b5452;
  --accent-900: #1b4644;
  --accent-950: #0a2829;

  /* Warning Shades */
  --warning-50: #fef9ec;
  --warning-100: #fbeeca;
  --warning-200: #f7dc90;
  --warning-300: #f4ca64;
  --warning-400: #f0af2f;
  --warning-500: #e98f17;
  --warning-600: #ce6b11;
  --warning-700: #ab4b12;
  --warning-800: #8b3b15;
  --warning-900: #733114;
  --warning-950: #421806;

  /* Danger Shades */
  --danger-50: #fef2f2;
  --danger-100: #fee2e2;
  --danger-200: #fecaca;
  --danger-300: #fba6a6;
  --danger-400: #f77272;
  --danger-500: #ee4545;
  --danger-600: #dc3030;
  --danger-700: #b81d1d;
  --danger-800: #981c1c;
  --danger-900: #7e1e1e;
  --danger-950: #450a0a;

  /* Success Shades */
  --success-50: #f1fcf6;
  --success-100: #e0f8e9;
  --success-200: #c2f0d5;
  --success-300: #92e3b3;
  --success-400: #5ace8a;
  --success-500: #38c172;
  --success-600: #269354;
  --success-700: #217445;
  --success-800: #1f5c39;
  --success-900: #1b4c31;
  --success-950: #0a2919;

  /* Swap base colors for dark mode */
  --background-color: var(--neutral-700);
  --text-color: var(--neutral-300);
  --primary-color: var(--primary-500);
  --secondary-color: var(--primary-300);
  --breadcrumb-text-color: var(--primary-400);
  --breadcrumb-background-color: var(--neutral-600);

  background-color: var(--neutral-700);
  color: var(--neutral-300);
}
  
.light-mode, .light-mode a, .light-mode button {
  --background-color: #6d6d6d;
  --text-color: #33407c;
  --primary-color: #6175de;
  --secondary-color: #e8eaed;

  /* Grey Shades - Neutral */
  --neutral-950: #f6f6f6;
  --neutral-900: #e7e7e7;
  --neutral-800: #d1d1d1;
  --neutral-700: #b0b0b0;
  --neutral-600: #888888;
  --neutral-500: #6d6d6d;
  --neutral-400: #5d5d5d;
  --neutral-300: #4f4f4f;
  --neutral-200: #454545;
  --neutral-100: #3d3d3d;
  --neutral-50: #000000;

  /* Primary Shades */
  --primary-950: #eff6fe;
  --primary-900: #e2eefd;
  --primary-800: #cbdefa;
  --primary-700: #abc8f6;
  --primary-600: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-400: #6175de;
  --primary-300: #4254c0;
  --primary-200: #38479b;
  --primary-100: #33407c;
  --primary-50: #1e2448;

  /* Accents Shades */
  --accent-950: #f2fbf9;
  --accent-900: #d2f5ee;
  --accent-800: #a5eadf;
  --accent-700: #70d8ca;
  --accent-600: #3caea3;
  --accent-500: #29a399;
  --accent-400: #1f827c;
  --accent-300: #1c6965;
  --accent-200: #1b5452;
  --accent-100: #1b4644;
  --accent-50: #0a2829;

  /* Warning Shades */
  --warning-950: #fef9ec;
  --warning-900: #fbeeca;
  --warning-800: #f7dc90;
  --warning-700: #f4ca64;
  --warning-600: #f0af2f;
  --warning-500: #e98f17;
  --warning-400: #ce6b11;
  --warning-300: #ab4b12;
  --warning-200: #8b3b15;
  --warning-100: #733114;
  --warning-50: #421806;

  /* Danger Shades */
  --danger-950: #fef2f2;
  --danger-900: #fee2e2;
  --danger-800: #fecaca;
  --danger-700: #fba6a6;
  --danger-600: #f77272;
  --danger-500: #ee4545;
  --danger-400: #dc3030;
  --danger-300: #b81d1d;
  --danger-200: #981c1c;
  --danger-100: #7e1e1e;
  --danger-50: #450a0a;

  /* Success Shades */
  --success-950: #f1fcf6;
  --success-900: #e0f8e9;
  --success-800: #c2f0d5;
  --success-700: #92e3b3;
  --success-600: #5ace8a;
  --success-500: #38c172;
  --success-400: #269354;
  --success-300: #217445;
  --success-200: #1f5c39;
  --success-100: #1b4c31;
  --success-50: #0a2919;

  /* Restore base colors for light mode */
  --background-color: var(--neutral-700);
  --text-color: var(--neutral-300);
  --primary-color: var(--primary-500);
  --secondary-color: var(--primary-300);
  --breadcrumb-text-color: var(--primary-400);
  --breadcrumb-background-color: var(--neutral-800);

  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

.dark-mode-accent {
  /* Accents Shades */
  --accent-50: #f2fbf9;
  --accent-100: #d2f5ee;
  --accent-200: #a5eadf;
  --accent-300: #70d8ca;
  --accent-400: #3caea3;
  --accent-500: #29a399;
  --accent-600: #1f827c;
  --accent-700: #1c6965;
  --accent-800: #1b5452;
  --accent-900: #1b4644;
  --accent-950: #0a2829;

  background-color: var(--accent-700);
  color: var(--accent-200);
}

.dark-mode-warning {
  /* Warning Shades */
  --warning-50: #fef9ec;
  --warning-100: #fbeeca;
  --warning-200: #f7dc90;
  --warning-300: #f4ca64;
  --warning-400: #f0af2f;
  --warning-500: #e98f17;
  --warning-600: #ce6b11;
  --warning-700: #ab4b12;
  --warning-800: #8b3b15;
  --warning-900: #733114;
  --warning-950: #421806;

  background-color: var(--warning-400);
  color: var(--warning-50);
}

.dark-mode-danger {
  /* Danger Shades */
  --danger-50: #fef2f2;
  --danger-100: #fee2e2;
  --danger-200: #fecaca;
  --danger-300: #fba6a6;
  --danger-400: #f77272;
  --danger-500: #ee4545;
  --danger-600: #dc3030;
  --danger-700: #b81d1d;
  --danger-800: #981c1c;
  --danger-900: #7e1e1e;
  --danger-950: #450a0a;

  background-color: var(--danger-700);
  color: var(--danger-100);
}

.dark-mode-success {
  /* Success Shades */
  --success-50: #f1fcf6;
  --success-100: #e0f8e9;
  --success-200: #c2f0d5;
  --success-300: #92e3b3;
  --success-400: #5ace8a;
  --success-500: #38c172;
  --success-600: #269354;
  --success-700: #217445;
  --success-800: #1f5c39;
  --success-900: #1b4c31;
  --success-950: #0a2919;

  /* Swap base colors for dark mode */
  --background-color: var(--neutral-700);
  --text-color: var(--neutral-300);
  --primary-color: var(--primary-500);
  --secondary-color: var(--primary-300);
  --breadcrumb-text-color: var(--primary-800);
  --breadcrumb-background-color: var(--primary-300);

  background-color: var(--success-700);
  color: var(--success-100);
}

.dark-mode-primary, .dark-mode-primary * {
  /* Primary Shades */
  --primary-50: #eff6fe;
  --primary-100: #e2eefd;
  --primary-200: #cbdefa;
  --primary-300: #abc8f6;
  --primary-400: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-600: #6175de;
  --primary-700: #4254c0;
  --primary-800: #38479b;
  --primary-900: #33407c;
  --primary-950: #1e2448;

  background-color: var(--primary-50);
  color: var(--primary-500);
  border-color: var(--primary-500);
  border-width: 5px;
}



.dark-mode-outlet, .dark-mode-outlet *, .dark-mode-outlet input {
  --background-color: #6d6d6d;
  --text-color: #33407c;
  --primary-color: #6175de;
  --secondary-color: #e8eaed;

  /* Grey Shades - Neutral */
  --neutral-50: #f6f6f6;
  --neutral-100: #e7e7e7;
  --neutral-200: #d1d1d1;
  --neutral-300: #b0b0b0;
  --neutral-400: #888888;
  --neutral-500: #6d6d6d;
  --neutral-600: #5d5d5d;
  --neutral-700: #4f4f4f;
  --neutral-800: #454545;
  --neutral-900: #3d3d3d;
  --neutral-950: #000000;

  /* Primary Shades */
  --primary-50: #eff6fe;
  --primary-100: #e2eefd;
  --primary-200: #cbdefa;
  --primary-300: #abc8f6;
  --primary-400: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-600: #6175de;
  --primary-700: #4254c0;
  --primary-800: #38479b;
  --primary-900: #33407c;
  --primary-950: #1e2448;

  /* Accents Shades */
  --accent-50: #f2fbf9;
  --accent-100: #d2f5ee;
  --accent-200: #a5eadf;
  --accent-300: #70d8ca;
  --accent-400: #3caea3;
  --accent-500: #29a399;
  --accent-600: #1f827c;
  --accent-700: #1c6965;
  --accent-800: #1b5452;
  --accent-900: #1b4644;
  --accent-950: #0a2829;

  /* Warning Shades */
  --warning-50: #fef9ec;
  --warning-100: #fbeeca;
  --warning-200: #f7dc90;
  --warning-300: #f4ca64;
  --warning-400: #f0af2f;
  --warning-500: #e98f17;
  --warning-600: #ce6b11;
  --warning-700: #ab4b12;
  --warning-800: #8b3b15;
  --warning-900: #733114;
  --warning-950: #421806;

  /* Danger Shades */
  --danger-50: #fef2f2;
  --danger-100: #fee2e2;
  --danger-200: #fecaca;
  --danger-300: #fba6a6;
  --danger-400: #f77272;
  --danger-500: #ee4545;
  --danger-600: #dc3030;
  --danger-700: #b81d1d;
  --danger-800: #981c1c;
  --danger-900: #7e1e1e;
  --danger-950: #450a0a;

  /* Success Shades */
  --success-50: #f1fcf6;
  --success-100: #e0f8e9;
  --success-200: #c2f0d5;
  --success-300: #92e3b3;
  --success-400: #5ace8a;
  --success-500: #38c172;
  --success-600: #269354;
  --success-700: #217445;
  --success-800: #1f5c39;
  --success-900: #1b4c31;
  --success-950: #0a2919;

  /* Swap base colors for dark mode */
  --background-color: var(--neutral-700);
  --text-color: var(--neutral-300);
  --primary-color: var(--primary-500);
  --secondary-color: var(--primary-300);
  --breadcrumb-text-color: var(--primary-800);
  --breadcrumb-background-color: var(--primary-300);

  background-color: var(--neutral-800);
  color: var(--neutral-200);
}

.light-mode-outlet, .light-mode-outlet *, .light-mode-outlet input {
  --background-color: #6d6d6d;
  --text-color: #33407c;
  --primary-color: #6175de;
  --secondary-color: #e8eaed;

  /* Grey Shades - Neutral */
  --neutral-950: #f6f6f6;
  --neutral-900: #e7e7e7;
  --neutral-800: #d1d1d1;
  --neutral-700: #b0b0b0;
  --neutral-600: #888888;
  --neutral-500: #6d6d6d;
  --neutral-400: #5d5d5d;
  --neutral-300: #4f4f4f;
  --neutral-200: #454545;
  --neutral-100: #3d3d3d;
  --neutral-50: #000000;

  /* Primary Shades */
  --primary-950: #eff6fe;
  --primary-900: #e2eefd;
  --primary-800: #cbdefa;
  --primary-700: #abc8f6;
  --primary-600: #89a8f0;
  --primary-500: #6c8ae8;
  --primary-400: #6175de;
  --primary-300: #4254c0;
  --primary-200: #38479b;
  --primary-100: #33407c;
  --primary-50: #1e2448;

  /* Accents Shades */
  --accent-950: #f2fbf9;
  --accent-900: #d2f5ee;
  --accent-800: #a5eadf;
  --accent-700: #70d8ca;
  --accent-600: #3caea3;
  --accent-500: #29a399;
  --accent-400: #1f827c;
  --accent-300: #1c6965;
  --accent-200: #1b5452;
  --accent-100: #1b4644;
  --accent-50: #0a2829;

  /* Warning Shades */
  --warning-950: #fef9ec;
  --warning-900: #fbeeca;
  --warning-800: #f7dc90;
  --warning-700: #f4ca64;
  --warning-600: #f0af2f;
  --warning-500: #e98f17;
  --warning-400: #ce6b11;
  --warning-300: #ab4b12;
  --warning-200: #8b3b15;
  --warning-100: #733114;
  --warning-50: #421806;

  /* Danger Shades */
  --danger-950: #fef2f2;
  --danger-900: #fee2e2;
  --danger-800: #fecaca;
  --danger-700: #fba6a6;
  --danger-600: #f77272;
  --danger-500: #ee4545;
  --danger-400: #dc3030;
  --danger-300: #b81d1d;
  --danger-200: #981c1c;
  --danger-100: #7e1e1e;
  --danger-50: #450a0a;

  /* Success Shades */
  --success-950: #f1fcf6;
  --success-900: #e0f8e9;
  --success-800: #c2f0d5;
  --success-700: #92e3b3;
  --success-600: #5ace8a;
  --success-500: #38c172;
  --success-400: #269354;
  --success-300: #217445;
  --success-200: #1f5c39;
  --success-100: #1b4c31;
  --success-50: #0a2919;

  /* Restore base colors for light mode */
  --background-color: var(--neutral-700);
  --text-color: var(--neutral-300);
  --primary-color: var(--primary-500);
  --secondary-color: var(--primary-300);
  --breadcrumb-text-color: var(--primary-800);
  --breadcrumb-background-color: var(--primary-300);

  background-color: var(--neutral-950);
  color: var(--neutral-50);
}





/* .dark-mode,.dark-mode a,.dark-mode button,:root{
  --background-color:#6d6d6d;
  --text-color:#33407c;
  --primary-color:#6175de;
  --secondary-color:#e8eaed;
  --neutral-50:#f6f6f6;
  --neutral-100:#e7e7e7;
  --neutral-200:#d1d1d1;
  --neutral-300:#b0b0b0;
  --neutral-400:#888888;
  --neutral-500:#6d6d6d;
  --neutral-600:#5d5d5d;
  --neutral-700:#4f4f4f;
  --neutral-800:#454545;
  --neutral-900:#3d3d3d;
  --neutral-950:#000000;
  --primary-50:#eff6fe;
  --primary-100:#e2eefd;
  --primary-200:#cbdefa;
  --primary-300:#abc8f6;
  --primary-400:#89a8f0;
  --primary-600:#6175de;
  --primary-700:#4254c0;
  --primary-800:#38479b;
  --primary-900:#33407c;
  --primary-950:#1e2448;
  --accent-50:#f2fbf9;
  --accent-100:#d2f5ee;
  --accent-200:#a5eadf;
  --accent-300:#70d8ca;
  --accent-400:#3caea3;
  --accent-600:#1f827c;
  --accent-700:#1c6965;
  --accent-800:#1b5452;
  --accent-900:#1b4644;
  --accent-950:#0a2829;
  --warning-50:#fef9ec;
  --warning-100:#fbeeca;
  --warning-200:#f7dc90;
  --warning-300:#f4ca64;
  --warning-400:#f0af2f;
  --warning-600:#ce6b11;
  --warning-700:#ab4b12;
  --warning-800:#8b3b15;
  --warning-900:#733114;
  --warning-950:#421806;
  --danger-50:#fef2f2;
  --danger-100:#fee2e2;
  --danger-200:#fecaca;
  --danger-300:#fba6a6;
  --danger-400:#f77272;
  --danger-600:#dc3030;
  --danger-700:#b81d1d;
  --danger-800:#981c1c;
  --danger-900:#7e1e1e;
  --danger-950:#450a0a;
  --success-50:#f1fcf6;
  --success-100:#e0f8e9;
  --success-200:#c2f0d5;
  --success-300:#92e3b3;
  --success-400:#5ace8a;
  --success-600:#269354;
  --success-700:#217445;
  --success-800:#1f5c39;
  --success-900:#1b4c31;
  --success-950:#0a2919}
  .dark-mode,.dark-mode a,.dark-mode button,.light-mode,.light-mode a,.light-mode button {
    --primary-500:#6c8ae8;
    --accent-500:#29a399;
    --warning-500:#e98f17;
    --danger-500:#ee4545;
    --success-500:#38c172;
    --breadcrumb-text-color:var(--primary-400)}
    
    :root {
      --primary-500:#6c8ae8;
      --accent-500:#29a399;
      --warning-500:#e98f17;
      --danger-500:#ee4545;
      --success-500:#38c172
    }
    .dark-mode,.dark-mode a,.dark-mode button {
      --background-color:var(--neutral-700);
      --text-color:var(--neutral-300);
      --primary-color:var(--primary-500);
      --secondary-color:var(--primary-300);
      --breadcrumb-background-color:var(--neutral-600);
      background-color:var(--neutral-700);
      color:var(--neutral-300)
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input,.light-mode,.light-mode a,.light-mode button {
      --background-color:#6d6d6d;
      --text-color:#33407c;
      --primary-color:#6175de;
      --secondary-color:#e8eaed;
      --neutral-500:#6d6d6d 
    }
    .light-mode,.light-mode a,.light-mode button {
      --neutral-950:#f6f6f6;
      --neutral-900:#e7e7e7;
      --neutral-800:#d1d1d1;
      --neutral-700:#b0b0b0;
      --neutral-600:#888888;
      --neutral-400:#5d5d5d;
      --neutral-300:#4f4f4f;
      --neutral-200:#454545;
      --neutral-100:#3d3d3d;
      --neutral-50:#000000;
      --primary-950:#eff6fe;
      --primary-900:#e2eefd;
      --primary-800:#cbdefa;
      --primary-700:#abc8f6;
      --primary-600:#89a8f0;
      --primary-400:#6175de;
      --primary-300:#4254c0;
      --primary-200:#38479b;
      --primary-100:#33407c;
      --primary-50:#1e2448;
      --accent-950:#f2fbf9;
      --accent-900:#d2f5ee;
      --accent-800:#a5eadf;
      --accent-700:#70d8ca;
      --accent-600:#3caea3;
      --accent-400:#1f827c;
      --accent-300:#1c6965;
      --accent-200:#1b5452;
      --accent-100:#1b4644;
      --accent-50:#0a2829;
      --warning-950:#fef9ec;
      --warning-900:#fbeeca;
      --warning-800:#f7dc90;
      --warning-700:#f4ca64;
      --warning-600:#f0af2f;
      --warning-400:#ce6b11;
      --warning-300:#ab4b12;
      --warning-200:#8b3b15;
      --warning-100:#733114;
      --warning-50:#421806;
      --danger-950:#fef2f2;
      --danger-900:#fee2e2;
      --danger-800:#fecaca;
      --danger-700:#fba6a6;
      --danger-600:#f77272;
      --danger-400:#dc3030;
      --danger-300:#b81d1d;
      --danger-200:#981c1c;
      --danger-100:#7e1e1e;
      --danger-50:#450a0a;
      --success-950:#f1fcf6;
      --success-900:#e0f8e9;
      --success-800:#c2f0d5;
      --success-700:#92e3b3;
      --success-600:#5ace8a;
      --success-400:#269354;
      --success-300:#217445;
      --success-200:#1f5c39;
      --success-100:#1b4c31;
      --success-50:#0a2919;
      --background-color:var(--neutral-700);
      --text-color:var(--neutral-300);
      --primary-color:var(--primary-500);
      --secondary-color:var(--primary-300);
      --breadcrumb-background-color:var(--neutral-800);
      background-color:var(--neutral-900);
      color:var(--neutral-100)
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input,.dark-mode-primary,.dark-mode-primary *{
      --primary-50:#eff6fe;
      --primary-100:#e2eefd;
      --primary-200:#cbdefa;
      --primary-300:#abc8f6;
      --primary-400:#89a8f0;
      --primary-600:#6175de;
      --primary-700:#4254c0;
      --primary-800:#38479b;
      --primary-900:#33407c;
      --primary-950:#1e2448;
      --primary-500:#6c8ae8
    }
    .dark-mode-accent,.dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input{
      --accent-50:#f2fbf9;
      --accent-100:#d2f5ee;
      --accent-200:#a5eadf;
      --accent-300:#70d8ca;
      --accent-400:#3caea3;
      --accent-600:#1f827c;
      --accent-700:#1c6965;
      --accent-800:#1b5452;
      --accent-900:#1b4644;
      --accent-950:#0a2829;
      --accent-500:#29a399
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input,.dark-mode-warning{
      --warning-50:#fef9ec;
      --warning-100:#fbeeca;
      --warning-200:#f7dc90;
      --warning-300:#f4ca64;
      --warning-400:#f0af2f;
      --warning-600:#ce6b11;
      --warning-700:#ab4b12;
      --warning-800:#8b3b15;
      --warning-900:#733114;
      --warning-950:#421806;
      --warning-500:#e98f17
    }
    .dark-mode-danger,.dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input{
      --danger-50:#fef2f2;
      --danger-100:#fee2e2;
      --danger-200:#fecaca;
      --danger-300:#fba6a6;
      --danger-400:#f77272;
      --danger-600:#dc3030;
      --danger-700:#b81d1d;
      --danger-800:#981c1c;
      --danger-900:#7e1e1e;
      --danger-950:#450a0a;
      --danger-500:#ee4545
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input,.dark-mode-success{
      --success-50:#f1fcf6;
      --success-100:#e0f8e9;
      --success-200:#c2f0d5;
      --success-300:#92e3b3;
      --success-400:#5ace8a;
      --success-600:#269354;
      --success-700:#217445;
      --success-800:#1f5c39;
      --success-900:#1b4c31;
      --success-950:#0a2919
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input,.dark-mode-success,.light-mode-outlet,.light-mode-outlet *,.light-mode-outlet input{
      --success-500:#38c172;
      --breadcrumb-text-color:var(--primary-800);
      --breadcrumb-background-color:var(--primary-300)
    }
    .dark-mode-accent{
      background-color:var(--accent-700);
      color:var(--accent-200)
    }
    .dark-mode-warning{
      background-color:var(--warning-400);
      color:var(--warning-50)
    }
    .dark-mode-danger{
      background-color:var(--danger-700);
      color:var(--danger-100)
    }
    .dark-mode-success{
      --background-color:var(--neutral-700);
      --text-color:var(--neutral-300);
      --primary-color:var(--primary-500);
      --secondary-color:var(--primary-300);
      background-color:var(--success-700);
      color:var(--success-100)
    }
    .dark-mode-primary,.dark-mode-primary *{
      background-color:var(--primary-50);
      color:var(--primary-500);
      border-color:var(--primary-500);
      border-width:5px
    }
    .dark-mode-outlet,.dark-mode-outlet *,.dark-mode-outlet input{
      --neutral-50:#f6f6f6;
      --neutral-100:#e7e7e7;
      --neutral-200:#d1d1d1;
      --neutral-300:#b0b0b0;
      --neutral-400:#888888;
      --neutral-600:#5d5d5d;
      --neutral-700:#4f4f4f;
      --neutral-800:#454545;
      --neutral-900:#3d3d3d;
      --neutral-950:#000000;
      --background-color:var(--neutral-700);
      --text-color:var(--neutral-300);
      --primary-color:var(--primary-500);
      --secondary-color:var(--primary-300);
      background-color:var(--neutral-800);
      color:var(--neutral-200)
    }
    .light-mode-outlet,.light-mode-outlet *,.light-mode-outlet input{
      --background-color:#6d6d6d;
      --text-color:#33407c;
      --primary-color:#6175de;
      --secondary-color:#e8eaed;
      --neutral-950:#f6f6f6;
      --neutral-900:#e7e7e7;
      --neutral-800:#d1d1d1;
      --neutral-700:#b0b0b0;
      --neutral-600:#888888;
      --neutral-500:#6d6d6d;
      --neutral-400:#5d5d5d;
      --neutral-300:#4f4f4f;
      --neutral-200:#454545;
      --neutral-100:#3d3d3d;
      --neutral-50:#000000;
      --primary-950:#eff6fe;
      --primary-900:#e2eefd;
      --primary-800:#cbdefa;
      --primary-700:#abc8f6;
      --primary-600:#89a8f0;
      --primary-500:#6c8ae8;
      --primary-400:#6175de;
      --primary-300:#4254c0;
      --primary-200:#38479b;
      --primary-100:#33407c;
      --primary-50:#1e2448;
      --accent-950:#f2fbf9;
      --accent-900:#d2f5ee;
      --accent-800:#a5eadf;
      --accent-700:#70d8ca;
      --accent-600:#3caea3;
      --accent-500:#29a399;
      --accent-400:#1f827c;
      --accent-300:#1c6965;
      --accent-200:#1b5452;
      --accent-100:#1b4644;
      --accent-50:#0a2829;
      --warning-950:#fef9ec;
      --warning-900:#fbeeca;
      --warning-800:#f7dc90;
      --warning-700:#f4ca64;
      --warning-600:#f0af2f;
      --warning-500:#e98f17;
      --warning-400:#ce6b11;
      --warning-300:#ab4b12;
      --warning-200:#8b3b15;
      --warning-100:#733114;
      --warning-50:#421806;
      --danger-950:#fef2f2;
      --danger-900:#fee2e2;
      --danger-800:#fecaca;
      --danger-700:#fba6a6;
      --danger-600:#f77272;
      --danger-500:#ee4545;
      --danger-400:#dc3030;
      --danger-300:#b81d1d;
      --danger-200:#981c1c;
      --danger-100:#7e1e1e;
      --danger-50:#450a0a;
      --success-950:#f1fcf6;
      --success-900:#e0f8e9;
      --success-800:#c2f0d5;
      --success-700:#92e3b3;
      --success-600:#5ace8a;
      --success-400:#269354;
      --success-300:#217445;
      --success-200:#1f5c39;
      --success-100:#1b4c31;
      --success-50:#0a2919;
      --background-color:var(--neutral-700);
      --text-color:var(--neutral-300);
      --primary-color:var(--primary-500);
      --secondary-color:var(--primary-300);
      background-color:var(--neutral-950);
      color:var(--neutral-50)
    } */