/* :root {
    --neutral-50: #E3E5E8;  
    --neutral-100: #D8DADF;  
    --neutral-200: #C2C5CC;  
    --neutral-300: #ACB0BA;  
    --neutral-400: #969BA7;  
    --neutral-500: #7F8694;  
    --neutral-600: #6B7280;  
    --neutral-700: #515761;  
    --neutral-800: #383C43;  
    --neutral-900: #1E2024;  
    --neutral-950: #121315;

    --primary-50: #FFFFFF;
    --primary-100: #FEFEFF;
    --primary-200: #D7E6FD;
    --primary-300: #B0CDFB;
    --primary-400: #89B4FA;
    --primary-500: #629BF8;
    --primary-600: #3B82F6;
    --primary-700: #0B61EE;
    --primary-800: #084BB8;
    --primary-900: #063583;
    --primary-950: #052A68;

    --accent-50: #7DDED6;
    --accent-100: #6CDAD1;
    --accent-200: #4CD2C7;
    --accent-300: #31C4B8;
    --accent-400: #29A399;
    --accent-500: #248F86;
    --accent-600: #1F7A73;
    --accent-700: #1A6660;
    --accent-800: #14524D;
    --accent-900: #0F3D39;
    --accent-950: #0D3330;

    --warning-50: #FCE4BB;
    --warning-100: #FBDCA8;
    --warning-200: #FACD81;
    --warning-300: #F8BD59;
    --warning-400: #F7AE32;
    --warning-500: #F59E0B;
    --warning-600: #DD8E09;
    --warning-700: #C57F08;
    --warning-800: #AC6F07;
    --warning-900: #945F06;
    --warning-950: #885706;

    --danger-50: #FDEDED;
    --danger-100: #FCDADA;
    --danger-200: #F9B5B5;
    --danger-300: #F58F8F;
    --danger-400: #F26A6A;
    --danger-500: #EF4444;
    --danger-600: #EC1E1E;
    --danger-700: #D01212;
    --danger-800: #AA0F0F;
    --danger-900: #840B0B;
    --danger-950: #720A0A;

    --success-50: #8CF5D2;
    --success-100: #79F3CB;
    --success-200: #53F0BC;
    --success-300: #2EEDAE;
    --success-400: #13DF9B;
    --success-500: #10B981;
    --success-600: #0EA674;
    --success-700: #0D9367;
    --success-800: #0B815A;
    --success-900: #0A6E4D;
    --success-950: #096546;
} */

.dark-mode,.dark-mode a,.dark-mode button,:root {
    --neutral-50: #E3E5E8;  
    --neutral-100: #D8DADF;  
    --neutral-200: #C2C5CC;  
    --neutral-300: #ACB0BA;  
    --neutral-400: #969BA7;  
    --neutral-500: #7F8694;  
    --neutral-600: #6B7280;  
    --neutral-700: #515761;  
    --neutral-800: #383C43;  
    --neutral-900: #1E2024;  
    --neutral-950: #121315;

    --primary-50: #FFFFFF;
    --primary-100: #FEFEFF;
    --primary-200: #D7E6FD;
    --primary-300: #B0CDFB;
    --primary-400: #89B4FA;
    --primary-500: #629BF8;
    --primary-600: #3B82F6;
    --primary-700: #0B61EE;
    --primary-800: #084BB8;
    --primary-900: #063583;
    --primary-950: #052A68;

    --accent-50: #7DDED6;
    --accent-100: #6CDAD1;
    --accent-200: #4CD2C7;
    --accent-300: #31C4B8;
    --accent-400: #29A399;
    --accent-500: #248F86;
    --accent-600: #1F7A73;
    --accent-700: #1A6660;
    --accent-800: #14524D;
    --accent-900: #0F3D39;
    --accent-950: #0D3330;

    --warning-50: #FCE4BB;
    --warning-100: #FBDCA8;
    --warning-200: #FACD81;
    --warning-300: #F8BD59;
    --warning-400: #F7AE32;
    --warning-500: #F59E0B;
    --warning-600: #DD8E09;
    --warning-700: #C57F08;
    --warning-800: #AC6F07;
    --warning-900: #945F06;
    --warning-950: #885706;

    --danger-50: #FDEDED;
    --danger-100: #FCDADA;
    --danger-200: #F9B5B5;
    --danger-300: #F58F8F;
    --danger-400: #F26A6A;
    --danger-500: #EF4444;
    --danger-600: #EC1E1E;
    --danger-700: #D01212;
    --danger-800: #AA0F0F;
    --danger-900: #840B0B;
    --danger-950: #720A0A;

    --success-50: #8CF5D2;
    --success-100: #79F3CB;
    --success-200: #53F0BC;
    --success-300: #2EEDAE;
    --success-400: #13DF9B;
    --success-500: #10B981;
    --success-600: #0EA674;
    --success-700: #0D9367;
    --success-800: #0B815A;
    --success-900: #0A6E4D;
    --success-950: #096546;

    background-color: var(--neutral-800);
    color: var(--neutral-200);
}

.light-mode, .light-mode a, .light-mode button {
    --neutral-950: #E3E5E8;  
    --neutral-900: #D8DADF;  
    --neutral-800: #C2C5CC;  
    --neutral-700: #ACB0BA;  
    --neutral-600: #969BA7;  
    --neutral-500: #7F8694;  
    --neutral-400: #6B7280;  
    --neutral-300: #515761;  
    --neutral-200: #383C43;  
    --neutral-100: #1E2024;  
    --neutral-50: #121315;

    --primary-950: #FFFFFF;
    --primary-900: #FEFEFF;
    --primary-800: #D7E6FD;
    --primary-700: #B0CDFB;
    --primary-600: #89B4FA;
    --primary-500: #629BF8;
    --primary-400: #3B82F6;
    --primary-300: #0B61EE;
    --primary-200: #084BB8;
    --primary-100: #063583;
    --primary-50: #052A68;

    --accent-950: #7DDED6;
    --accent-900: #6CDAD1;
    --accent-800: #4CD2C7;
    --accent-700: #31C4B8;
    --accent-600: #29A399;
    --accent-500: #248F86;
    --accent-400: #1F7A73;
    --accent-300: #1A6660;
    --accent-200: #14524D;
    --accent-100: #0F3D39;
    --accent-50: #0D3330;

    --warning-950: #FCE4BB;
    --warning-900: #FBDCA8;
    --warning-800: #FACD81;
    --warning-700: #F8BD59;
    --warning-600: #F7AE32;
    --warning-500: #F59E0B;
    --warning-400: #DD8E09;
    --warning-300: #C57F08;
    --warning-200: #AC6F07;
    --warning-100: #945F06;
    --warning-50: #885706;

    --danger-950: #FDEDED;
    --danger-900: #FCDADA;
    --danger-800: #F9B5B5;
    --danger-700: #F58F8F;
    --danger-600: #F26A6A;
    --danger-500: #EF4444;
    --danger-400: #EC1E1E;
    --danger-300: #D01212;
    --danger-200: #AA0F0F;
    --danger-100: #840B0B;
    --danger-50: #720A0A;

    --success-950: #8CF5D2;
    --success-900: #79F3CB;
    --success-800: #53F0BC;
    --success-700: #2EEDAE;
    --success-600: #13DF9B;
    --success-500: #10B981;
    --success-400: #0EA674;
    --success-300: #0D9367;
    --success-200: #0B815A;
    --success-100: #0A6E4D;
    --success-50: #096546;

    background-color: var(--neutral-950);
    color: var(--neutral-50);
}