@import url("../../../theme/theme.css");

:root {
    --margin-bottom-content: 50px;
}

.rich-text-layout {
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding: 1px;
    overflow-y: auto;
    width: 100%;
    background-color: var(--backgroundThemeColor);
    border: 1px solid var(--neutral-200);
    position: sticky;
    margin-bottom: var(--margin-bottom-content);
}

.table-of-contents {
    display: flex;
    flex-grow: 1;
    margin: 1px;
    padding: 1px;
    overflow-y: auto;
    min-width: 15%;
    background-color: var(--backgroundThemeColor);
    border: 1px solid var(--neutral-200);
    position: sticky;
    margin-bottom: var(--margin-bottom-content);
}

.editor-content {
    margin: 1px;
    padding: 1px;
    overflow-y: auto;
    background-color: var(--backgroundThemeColor);
    border: 1px solid var(--neutral-200);
    position: sticky;
    margin-bottom: var(--margin-bottom-content);
}