@import url("../../theme/theme.css");

.sidebar {
    width: 200px;
    padding: 15px;
    overflow-y: auto;
    min-height: 100vh;
}
  
.pages {
    display: flex;
    padding: 2px;
    overflow-y: auto;
}

aside {
    width: 50%;
    float: left;
    font-style: italic;
}
  
aside > p, aside li {
    margin: 0.25rem;
}